{% extends 'base.html' %}

{% block content %}

<style>
    h1, h3, b, button, th, td, table {text-align: center;}
    table, th, td {
        /* border: 20px solid rgb(69, 69, 69); */
        border-collapse: collapse;
        background-color: rgb(251, 221, 238);
        border-width: 1px;
        padding: 20px;
        border-radius: 10px;
      }
    * {
        font-family: 'Arial';
        text-align: center;
        vertical-align: middle;
    }
    th, td {
        padding: 10px 14px
    }
    table {
    margin-left: auto;
    margin-right: auto;
    }
  </style>
  
<h1>This is your to do list!</h1>
<h3>Dont forget to finish your todolist, {{username}}!</h3>
<br>
<br>

<button onclick="location.href='/todolist/create-task'">Add New Task</button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

<br>
<br>

<table>
    <tr>
    <th>Date Created</th>
    <th>Task Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Option</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for todo in todolist %}
    <tr>
        <th>{{todo.date}}</th>
        <th>{{todo.title}}</th>
        <th>{{todo.description}}</th>
        <th>
            {% if todo.status %}
            Finished
            {% else %}
            Not Yet
            {% endif%}
          </th>
          <th>
            <button><a href="{% url 'todolist:delete' todo.id %}" title="">Delete Task</a></button>
            <button><a href="{% url 'todolist:status' todo.id %}" title="">Change Status</a></button>
          </th>
    </tr>
    {% endfor %}
</table>

{% endblock content %}